.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    position: relative;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body {
    background-color: navy;
    margin: 0;
    padding: 0;
    background: url("/static/img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.cards_item {
    /* display: flex; */
    padding: 1rem;
    margin-top: 10px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cards_item h1 {
    text-align: center;
    margin: 20px;
    font-size: calc(0.7rem+2vw);
}

.circle {
    height: 200px;
    width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    /* border:2px solid #000; */
    border-radius: 50%;
    text-align: center;
}

.circle:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.50), 0 24px 80px 0 rgba(0, 0, 0, 0.40);
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 25%;
    }
}

@media (min-width: 56rem) {
    .reportcircle .cards_item {
        width: 20%;
    }
}

a{
    text-decoration: none;
}

.year {
    position: absolute;
    font-size: 50px;
    letter-spacing: 10px;
    /* font-family: sans-serif; */
    display: table;
    margin: 50px 12px;
    cursor: pointer;
    transition: .6s;
    color: #0a2a43;
}

.year:before,
.year:after {
    content: attr(data-text);
    transition: .6s;
}

.year:before {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    text-shadow:
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px;
    -webkit-mask: repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.5) 0 6px);
    mask: repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.5) 0 6px);
}

.year:hover {
    transform: translate(-10px, -10px);
}

.year:hover:before {
    text-shadow:
        1px 1px,
        2px 2px,
        3px 3px,
        4px 4px,
        5px 5px,
        6px 6px,
        7px 7px,
        8px 8px,
        9px 9px,
        10px 10px;
}