body {
    margin: 0;
    padding: 0;
    background-color: navy;
    overflow-x: hidden;
}

.card-img-top {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal-body {
    padding: 0rem !important;
}

footer {
    margin-bottom: 0 !important;
}

.card-row-wrapper {
    overflow: hidden;
}

@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
    }

    .card {
        margin: auto;
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
        max-width: 100%;
    }

    .slider::-webkit-scrollbar {
        display: none;
    }

    .marquee-container {
        animation: marquee 20s linear infinite;
        white-space: nowrap;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slider:hover {
    animation-play-state: paused;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.card {
    width: 20rem;
    border-radius: 0;
    flex: 0 0 25rem;
}

a {
    text-decoration: none;
    color: white;
}

#gallery-hero {
    overflow-x: hidden;
}

.marquee-container {
    animation: marquee 20s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
